//Esto es scss
div{
    border: 1px solid blue;
}


//variables
$secundario : rgba(245,252,255,255);
$h1 : 56px;

//mixins
.fondo{
    background: $secundario;
}

.negro a{
    color: black;
}

.h1_tamanyo{
    font-size: $h1;
}